invdemo/LogicApp/Invoice_ETL_ToGrid/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "List_files_incoming": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "folderId": "sec-wf-file-share/invoices/incoming"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureFile",
                        "operationId": "listFolder",
                        "serviceProviderId": "/serviceProviders/AzureFile"
                    }
                },
                "runAfter": {}
            },
            "For_each_incoming": {
                "type": "foreach",
                "foreach": "@outputs('List_files_incoming')?['body']",
                "actions": {
                    "Copy_file": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "SourceFilePath": "@items('For_each_incoming').path",
                                "destinationFilePath": "@concat('sec-wf-file-share/invoices/processing/', items('For_each_incoming').name)",
                                "overwrite": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureFile",
                                "operationId": "copyFile",
                                "serviceProviderId": "/serviceProviders/AzureFile"
                            }
                        }
                    },
                    "Delete_file": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "fileId": "@items('For_each_incoming').path"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureFile",
                                "operationId": "deleteFile",
                                "serviceProviderId": "/serviceProviders/AzureFile"
                            }
                        },
                        "runAfter": {
                            "Copy_file": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "List_files_incoming": [
                        "SUCCEEDED"
                    ]
                }
            },
            "List_files_in_process": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "folderId": "sec-wf-file-share/invoices/processing"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureFile",
                        "operationId": "listFolder",
                        "serviceProviderId": "/serviceProviders/AzureFile"
                    }
                },
                "runAfter": {
                    "For_each_incoming": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each_in_processing": {
                "type": "Foreach",
                "foreach": "@outputs('List_files_in_process')?['body']",
                "actions": {
                    "Get_file_content": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "fileId": "@items('For_each_in_processing').path",
                                "inferContentType": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureFile",
                                "operationId": "getFileContent",
                                "serviceProviderId": "/serviceProviders/AzureFile"
                            }
                        }
                    },
                    "Transform_XML": {
                        "type": "Xslt",
                        "inputs": {
                            "content": "@body('Get_file_content')",
                            "map": {
                                "source": "LogicApp",
                                "name": "sample_xsl.xml"
                            },
                            "transformOptions": "DisableByteOrderMark,GenerateTextOutput"
                        },
                        "runAfter": {
                            "XML_Validation": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "XML_Validation": {
                        "type": "XmlValidation",
                        "inputs": {
                            "content": "@body('Get_file_content')",
                            "schema": {
                                "source": "LogicApp",
                                "name": "sampleInvoice.xsd"
                            }
                        },
                        "runAfter": {
                            "Get_file_content": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Copy_file_to_processedError": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "SourceFilePath": "@items('For_each_in_processing').path",
                                "destinationFilePath": "@concat('sec-wf-file-share/invoices/processedError/', items('For_each_in_processing').name)"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureFile",
                                "operationId": "copyFile",
                                "serviceProviderId": "/serviceProviders/AzureFile"
                            }
                        },
                        "runAfter": {
                            "XML_Validation": [
                                "FAILED"
                            ],
                            "If_invoice_is_domestic": [
                                "FAILED"
                            ]
                        }
                    },
                    "Delete_file_from_processing": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "fileId": "@items('For_each_in_processing').path"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureFile",
                                "operationId": "deleteFile",
                                "serviceProviderId": "/serviceProviders/AzureFile"
                            }
                        },
                        "runAfter": {
                            "Copy_file_to_processedError": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "If_invoice_is_domestic": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@variables('var_isDomesticInvoice')",
                                        "@variables('var_true')"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Publish_Events": {
                                "type": "ServiceProvider",
                                "inputs": {
                                    "parameters": {
                                        "events": [
                                            {
                                                "id": "@{guid()}",
                                                "subject": "domesticinvoice",
                                                "eventType": "recordInserted",
                                                "data": "@{outputs('Compose_invoice_object')}"
                                            }
                                        ]
                                    },
                                    "serviceProviderConfiguration": {
                                        "connectionName": "eventGridPublisher",
                                        "operationId": "publishEvents",
                                        "serviceProviderId": "/serviceProviders/eventGridPublisher"
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Transform_XML_Invoice_to_CSV": {
                                    "type": "Xslt",
                                    "inputs": {
                                        "content": "@body('Get_file_content')",
                                        "map": {
                                            "source": "LogicApp",
                                            "name": "InvoiceToCSV2.xml"
                                        },
                                        "transformOptions": "GenerateTextOutput,DisableByteOrderMark"
                                    }
                                },
                                "Send_message": {
                                    "type": "ServiceProvider",
                                    "inputs": {
                                        "parameters": {
                                            "entityName": "other-invoices",
                                            "message": {
                                                "contentData": "@body('Transform_XML_Invoice_to_CSV')"
                                            }
                                        },
                                        "serviceProviderConfiguration": {
                                            "connectionName": "serviceBus",
                                            "operationId": "sendMessage",
                                            "serviceProviderId": "/serviceProviders/serviceBus"
                                        }
                                    },
                                    "runAfter": {
                                        "Transform_XML_Invoice_to_CSV": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Set_variable": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Set_variable": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "var_isDomesticInvoice",
                            "value": "@outputs('Compose_invoice_object').Invoice.ERP_EU_TRADE"
                        },
                        "runAfter": {
                            "Compose_invoice_object": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Compose_invoice_object": {
                        "type": "Compose",
                        "inputs": "@json(body('Transform_XML'))",
                        "runAfter": {
                            "Transform_XML": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable_1": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "var_isDomesticInvoice",
                            "type": "boolean"
                        }
                    ]
                },
                "runAfter": {
                    "List_files_in_process": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable_1": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "var_true",
                            "type": "boolean",
                            "value": true
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http"
            }
        }
    },
    "kind": "Stateful"
}